@font-face {
    font-family: Open Sans;
    src: url(sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Open Sans;
    src: url(sources/fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 32rem;
}

@media (min-width: 320px) {
    .header {
        display: block;
        position: relative;
        height: 100%;
        margin: 0;
        background-image: url("sources/img/football_1920.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #000000;
        color: #ffffff;
    }

    .header::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background-color: #090c35;
        opacity: 0.85;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        font-size: 2.8rem;
        font-weight: bold;
        z-index: 1;
    }

    .header-logo {
        padding-top: 3.2rem;
        margin: 0 auto 8.5rem auto;
        width: 13rem;
        fill: #ffffff;
    }

    .header-title, .header-subtitle, .header-buttons {
        width: 28rem;
    }

    .header-title {
        font-size: inherit;
        letter-spacing: 0.2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .header-subtitle {
        display: block;
        box-sizing: border-box;
        padding-top: 1.5rem;
        padding-left: 4.5rem;
        padding-bottom: 8.8rem;
        font-size: inherit;
        letter-spacing: 0.2rem;
        line-height: 1.15;
    }

    .header-buttons {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 13rem;
        margin: 0 auto;
    }

    .header-button {
        display: flex;
        align-items: center;
        width: 100%;
        height: 3.5rem;
        margin-top: 1.5rem;
        font-size: 0.8rem;
        background-color: #5e42b0;
        color: #ffffff;
        border: 0;
        border-radius: 1.5rem;
    }

    .header-button:hover {
        background-color: #090c35;
    }

    .header-button-container {
        display: flex;
        align-items: center;
        width: 12rem;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        color: inherit;
    }

    .header-button-container-again {
        width: 100%;
    }

    .header-button:first-child {
        margin-top: 0;
    }

    .header-button-logo {
        fill: #ffffff;
        width: 2.3rem;
        height: 2.3rem;
        margin-right: 0.5rem;
        float: left;
    }

    .header-button-text-normal {
        display: block;
        font-weight: normal;
    }

    body {
        letter-spacing: 0.06rem;
    }

    .main-section {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        overflow: hidden;
    }

    .main-section-container {
        position: relative;
    }

    .main-section-img {
        position: absolute;
        content: "";
        bottom: -6.5rem;
        left: 50%;
        margin: 0;
        transform: translate(-50%);
        background-repeat: no-repeat;
        background-position: center center;
    }

    .main-section:last-child .main-section-img {
        bottom: -3.5rem;
    }

    .main-section-title {
        flex-grow: 1;
        padding-left: 2rem;
        padding-bottom: 23rem;
        font-size: 5rem;
        font-weight: bold;
        color: #e7e7e7;
    }

    .main-section-article:nth-child(3n-1) {
        background-color: #fafafa;
    }

    .main-section-article:nth-child(3n) {
        background-color: #f5f4f9;
    }

    .main-section-article:last-child {
        background-color: #5e42b0;
        color: #dedbed;
    }

    .main-section:nth-child(2n) .main-section-article:last-child {
        background-color: #090c35;
    }

    .main-section-article-title {
        display: flex;
        width: 87.5%;
        margin: 5.5rem auto 0 auto;
        font-weight: bold;
        font-size: 2.3rem;
        color: #c1c1c1;
    }

    .main-section-article:first-of-type .main-section-article-title {
        margin-top: 7.5rem;
    }

    .main-section:last-child .main-section-article:last-child .main-section-article-title .main-section-article-title-number {
        color: #5e42b0;
    }

    .main-section-article-title-number {
        display: inline-block;
        padding-top: 0.3rem;
        margin-right: 0.7rem;
        vertical-align: top;
        font-size: 1.4rem;
        color: #000000;
    }

    .main-section-article-title-number::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.4rem;
        background-size: 20px;
        background-color: #5e42b0;
    }

    .main-section-article:last-of-type .main-section-article-title .main-section-article-title-number::after {
        background-color: #ffffff;
    }

    .main-section-article-text {
        width: 87.5%;
        margin: 2rem auto 5rem auto;
        font-size: 1.5rem;
        text-transform: none;
    }

    .aside-article {
        display: flex;
        position: relative;
        flex-direction: column;
        overflow: hidden;
    }

    .aside-article-img {
        width: 100%;
    }

    .aside-article-img-choice {
        width: 100%;
        height: auto;
    }

    .aside-article-container {
        position: relative;
    }

    .aside-article-square {
        position: absolute;
        top: -6rem;
        left: 2rem;
        width: 7rem;
        height: 7rem;
        background-color: #5e42b0;
    }

    .aside-article-square-container {
        width: max-content;
        margin: 50% auto 0 auto;
        transform: translateY(-50%);
    }

    .aside-article-square-container-number {
        margin-bottom: 0.2rem;
        font-size: 1.4rem;
        font-weight: bold;
        color: #f5f6f7;
    }

    .aside-article-square-container-number::after {
        display: block;
        content: "";
        width: 100%;
        height: 0.4rem;
        background-color: #8f7bc8;
    }

    .aside-article-title {
        width: 87.5%;
        margin: 3rem auto 1.5rem auto;
        font-size: 2.8rem;
        font-weight: bold;
        color: #e7e7e7;
    }

    .aside-article-text {
        width: 87.5%;
        margin: 0 auto 7rem auto;
        font-size: 1.6rem;
        text-transform: none;
    }

    .footer {
        display: block;
        position: relative;
        height: 100%;
        margin: 0;
        background-image: url("sources/img/game_767.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #000000;
        color: #ffffff;
    }

    .footer::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #090c35;
        opacity: 0.85;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        font-size: 2.8rem;
        font-weight: bold;
        z-index: 1;
    }

    .footer-logo-small-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin: 10rem auto 4.5rem auto;
        width: 7.2rem;
        height: 7.4rem;
        background-color: #5e42b0;
        border-radius: 1.4rem;
    }

    .footer-logo-small {
        width: 6rem;
        fill: #ffffff;
    }

    .footer-title, .footer-subtitle, .footer-buttons {
        display: block;
        width: auto;
        margin: 0 auto;
        text-align: center;
    }

    .footer-title {
        font-size: 3.2rem;
    }

    .footer-subtitle {
        box-sizing: border-box;
        padding-top: 0.2rem;
        padding-bottom: 7.2rem;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.15;
        color: #8378a7;
    }

    .footer-buttons {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .footer-button {
        display: flex;
        align-items: center;
        width: 100%;
        height: 3.5rem;
        margin-top: 1.5rem;
        font-size: 0.8rem;
        background-color: #5e42b0;
        color: #ffffff;
        border: 0;
        border-radius: 1.5rem;
    }

    .footer-button:hover {
        background-color: #090c35;
    }

    .footer-button-container {
        width: 12rem;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        color: inherit;
    }

    .footer-button:first-child {
        margin-top: 0;
    }

    .footer-button-logo {
        fill: #ffffff;
        width: 2.3rem;
        height: 2.3rem;
        margin-right: 0.5rem;
        float: left;
    }

    .footer-button-text-normal {
        display: block;
        font-weight: normal;
    }

    .footer-logo {
        margin: 9rem auto 0 auto;
        padding-bottom: 1rem;
        width: 13rem;
        fill: #ffffff;
    }
}

@media (min-width: 641px) {
    .header {
        min-height: 96rem;
        background-image: url("sources/img/football_767.jpg");
        background-size: cover;
    }

    .header-logo {
        padding-top: 4rem;
        margin-bottom: 14.5rem;
        width: 20rem;
    }

    .header-container {
        font-size: 6.4rem;
    }

    .header-title {
        width: 58.8rem;
    }

    .header-subtitle {
        width: 64.8rem;
        padding-top: 0;
        padding-left: 11.5rem;
        padding-bottom: 30rem;
    }

    .header-buttons {
        justify-content: space-between;
        width: 99vw;
        max-width: 64.8rem;
        padding-bottom: 6rem;
        margin: 0 auto;
    }

    .header-button {
        width: 31rem;
        height: 7.7rem;
        margin: 0;
        font-size: 1.4rem;
        border-radius: 3.6rem;
    }

    .header-button-logo {
        width: 4rem;
        height: 4rem;
        margin-right: 2.5rem;
    }

    .header-button-container {
        width: auto;
    }

    .header-button-text-container {
        display: flex;
        flex-direction: column;
    }

    .main-section {
        margin-top: 0;
    }

    .main-section-img {
        top: 10.5rem;
        left: 0;
        transform: translate(-33%);
    }

    .main-section:nth-child(2n) .main-section-img {
        top: 5rem;
        left: unset;
        right: 0;
        transform: none;
    }

    .main-section-title {
        padding-top: 7rem;
        padding-left: 29.5rem;
        padding-bottom: 0;
        font-size: 8rem;
    }

    .main-section:nth-child(2n) .main-section-title {
        padding-left: 3.2rem;
    }

    .main-section-article:nth-child(3n) {
        background-color: #ffffff;
    }

    .main-section-article-title, .main-section-article-text {
        width: auto;
        margin-left: 29.5rem;
        margin-right: 3.7rem;
    }

    .main-section:nth-child(2n) .main-section-article-title, .main-section:nth-child(2n) .main-section-article-text {
        margin-left: 3.2rem;
        margin-right: 32rem;
    }

    .main-section-article-title {
        margin-top: 3.5rem;
        font-size: 3.2rem;
    }

    .main-section-article-title-number {
        font-size: 1.8rem;
    }

    .main-section-article:first-of-type .main-section-article-title {
        margin-top: 2.5rem;
    }

    .main-section-article-text {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        font-size: 1.6rem;
        line-height: 1.7;
    }

    .aside-article-square {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: -8rem;
        left: 3.5rem;
        width: 11.6rem;
        height: 11.6rem;
        font-size: 2.4rem;
    }

    .aside-article-square-container {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        transform: translateY(0);
    }

    .aside-article-square-container-number {
        font-size: inherit;
    }

    .aside-article-title {
        font-size: 8rem;
        padding-right: 3.5rem;
        margin-top: 7.5rem;
    }

    .aside-article-text {
        padding-right: 3.5rem;
        margin-bottom: 9.5rem;
        font-size: 2.4rem;
        letter-spacing: 0.1rem;
    }

    .footer {
        background-image: url("sources/img/game_1280.jpg");
    }

    .footer-logo-small-container {
        margin-top: 13rem;
        margin-bottom: 7rem;
        width: 13rem;
        height: 13.5rem;
        border-radius: 2.4rem;
    }

    .footer-logo-small {
        width: 10rem;
    }

    .footer-title {
        font-size: 8rem;
    }

    .footer-subtitle {
        padding-bottom: 27rem;
        font-size: 3.6rem;
    }

    .footer-buttons {
        width: 99vw;
        max-width: 64.8rem;
        justify-content: space-between;
        letter-spacing: normal;
    }

    .footer-button {
        width: 31rem;
        height: 7.7rem;
        margin: 0;
        font-size: 1.4rem;
        border-radius: 3.6rem;
    }

    .footer-button-logo {
        width: 4rem;
        height: 4rem;
        margin-right: 2.5rem;
    }

    .footer-button-container {
        width: auto;
    }

    .footer-button-text-container {
        display: flex;
        flex-direction: column;
    }

    .footer-logo {
        width: 20rem;
        margin: 6rem auto 0 auto;
        padding-bottom: 2rem;
    }
}

@media (min-width: 961px) {
    .header {
        background-image: url("sources/img/football_1920.jpg");
    }

    .header-container {
        font-size: 9rem;
    }

    .header-logo {
        margin-bottom: 27rem;
    }

    .header-title, .header-subtitle {
        max-width: 1700px;
    }
    .header-title {
        width: 81.25%;
    }

    .header-subtitle {
        width: 100%;
        padding-left: 25vw;
        padding-bottom: 20rem;
        line-height: 1.0;
    }

    .header-buttons {
        width: 67rem;
        padding-bottom: 10rem;
    }

    .main-section-img {
        top: 2rem;
        left: calc(50% - 566px);
        transform: translate(0);
    }

    .main-section:nth-child(2n) .main-section-img {
        top: 2rem;
        left: 41.6vw;
        transform: translate(0);
    }

    .main-section-title {
        padding-top: 10rem;
        padding-left: 52%;
        padding-bottom: 5rem;
        font-size: 8rem;
    }

    .main-section:nth-child(2n) .main-section-title {
        box-sizing: border-box;
        padding-left: 9.375%;
        width: 41.6vw;
    }

    .main-section-article-title, .main-section-article-text {
        margin-left: 52%;
        margin-right: 9.375%;
    }

    .main-section:nth-child(2n) .main-section-article-title, .main-section:nth-child(2n) .main-section-article-text {
        margin-left: 9.375%;
        margin-right: 52%;
    }

    .main-section-article-title {
        margin-top: 5rem;
        font-size: 3.6rem;
    }

    .main-section-article-text {
        margin-bottom: 5rem;
        font-size: 2rem;
    }

    .aside-article {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .aside-article-img, .aside-article-container {
        width: 50%;
    }

    .aside-article-title, .aside-article-text {
        margin: 0 9.375% 0 12rem;
        padding: 0;
        width: auto;
    }

    .aside-article-title {
        margin-bottom: 10rem;
        line-height: 1;
    }

    .aside-article:nth-child(2n) .aside-article-img {
        order: 1;
    }

    .aside-article:nth-child(2n) .aside-article-text, .aside-article:nth-child(2n) .aside-article-title {
        margin-left: 9.375%;
        margin-right: 12rem;
    }

    .aside-article-container {
        position: static;
        padding: 3rem 0;
    }

    .aside-article-square {
        top: 21rem;
        left: calc(50% - 8.3rem);
        width: 16.6rem;
        height: 15.5rem;
    }

    .footer {
        background-image: url(sources/img/game_1920.jpg);
    }

    .footer-title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 23rem;
        width: 80%;
        margin: 0 auto 12rem auto;
    }

    .footer-logo-small-container {
        margin: 0;
    }

    .footer-title {
        margin: 0 0 0 2.5rem;
        letter-spacing: 0.3vw;
        text-align: left;
    }

    .footer-subtitle {
        padding-bottom: 2rem;
        letter-spacing: normal;
        text-align: left;
    }

    .footer-logo {
        margin: 25rem auto 0 auto;
        padding-bottom: 5rem;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .aside-article-square-container {
        width: 17%;
    }
}